/* the rteset selector */
* {
    margin: 1%;
}

body {
    background-color: powderblue;
    max-width: 1000px;
    min-width: 800px;
    width: 100%;
}

h1 {
    color: blue;
    margin-top: 2%;
    font-size: 2em;
}

p {
    color: black; 
}

main {
    width: 50%;
    float: left;
    font-size: 1em;
}

.sidebarB {
    width: 40%;
    float: right;
    font-size: 1em;
    margin-left: 5%;
}

table.output {
    width: 75%;
    margin: 2%; 
}

table.input {
    width: 95%;
    margin: 2%; 
}


th {
    background-color: lightcyan;
}


/* avoid an extra margin in the links */
a {
    margin: 0%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Alert bpx */
.alert {
    color: red;
    background-color: lightpink;
    border: 2px solid red;
    font-weight: bold;
    border-radius: 1% 1% 1% 1%;
    text-align: center;
    width: 90%;
    padding: 2%;
    margin: 2%; 
}

/* Code snippet box */
.code {
    color: black;
    background-color: white;
    border: 1px solid black;
    width: 90%;
    padding: 2%;
    margin: 2%; 
    font-style: italic;
    font-size: 1.1em;
}


p.instructions {
    color: black;
    font-weight: bold;
    margin: 2%; 
    margin-top: 2%;
}

/* NAV BAR Layout */
#nav_menu { }
#nav_menu ul { margin: 0%; list-style-type:none ;}
#nav_menu ul li { float:left ;}
#nav_menu ul li a { 
    text-align: left;
    font-size: 1.5em;
   /* padding: 1em 2em 1em 2em;*/
    margin: 0%;
    text-decoration: none;
    color:black;
}

#nav_menu ul li a.current { 
    font-weight: bold;
    text-decoration: underline ;
}





