/*! mainCSS for submarine web | MIT License  */

/*-------------------------------*/
/* Layout of the main components */
/*-------------------------------*/

/* the reset selector */
* {
    margin: 0.2%;
}

body {
    background-color: powderblue;
    max-width: 1000px;
    min-width: 800px;
    width: 100%;
}

h1 {
    color: blue;
    margin-top: 2%;
    font-size: 1.5em;
}

p {
    color: black; 
}

main {
    width: 50%;
    float: left;
    font-size: 1em;
}

.sidebarB {
    width: 40%;
    float: right;
    font-size: 1em;
    margin-left: 5%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/*-------------------------*/
/* CSS for HTML components */
/*-------------------------*/
table.output {
    width: 75%;
    margin: 2%; 
}

table.input {
    width: 95%;
    margin: 2%; 
}


th {
    background-color: lightcyan;
}


/* avoid an extra margin in the links */
a {
    margin: 0%;
}

/* P section for writing section instructions */
p.instructions {
    color: black;
    font-weight: bold;
    margin: 2%; 
    margin-top: 2%;
}

/*-------------------------*/
/* Other elemeents (class) */
/*-------------------------*/

/* Alert bpx */
.alert {
    color: red;
    background-color: lightpink;
    border: 2px solid red;
    font-weight: bold;
    border-radius: 1% 1% 1% 1%;
    text-align: center;
    width: 90%;
    padding: 2%;
    margin: 2%; 
}

/* Code snippet box */
.code {
    color: black;
    background-color: white;
    border: 1px solid black;
    width: 90%;
    padding: 2%;
    margin: 2%; 
    font-style: italic;
    font-size: 1.1em;
}


/*-------------------------------*/
/* CSS for the 'control' buttons */
/*-------------------------------*/
.b_big {
    border: 1px solid black;
    background-color: lightgrey;
    color: black;
    padding: 2% 3%;
    font-size: 0.9em;
    width: 30%;
    border-radius: 8px;
}

.b_big:hover {
    background-color: grey;
    color: white;
}

.b_big:disabled {
    /*your styles*/
    border: 1px solid grey;
    color: grey;
    background-color: powderblue;
}

/*-------------------------------*/
/* NAV BAR (MENU) Layout         */
/*-------------------------------*/
#nav_menu ul {  list-style-type:none ;}
#nav_menu ul li { margin-top: 0% ; margin-right:5%; float:left ; }
#nav_menu ul li a { 
    text-align: left;
    border-left: none;
    font-size: 1.5em;
   /* padding: 1em 2em 1em 2em;*/
    text-decoration: none;
    color:black;
}
#nav_menu ul li a.current { 
    font-weight: bold;
    text-decoration: underline ;
}
